/*Colors

white #FEFFFF
blue #72918B
dark blue #3C3F36
green #9FB03E
orange #FF6138

/*body*/
body{
	background: #FEFFFF;
	color: #3C3F36;
}
/*header tags, h1 and h2*/
h1,h2{
	color: #72918B;
	letter-spacing: 3px;
	margin-bottom: 30px;
}
/*primary buttons*/
.btn-primary{
	outline: none;
	border: none;
	background: #FF6138;
}
/*full size buttons*/
.fullBtn{
	width: 100%;
}
/*adds full 100% width to images*/
.fullsize{
	width:100%;
}
/*header*/
header{
	margin-bottom: 70px;
}
/*aside containers*/
aside div{
	margin: 30px 0 70px 0;
}
/*main article above the fold*/
.mainArt{
	margin-bottom: 70px;
}
/*main Img*/
.mainImg{
	margin: 30px 0 30px 0;
}
/*main paragraph styling*/
.mainP{
	font-size: 1.2em;
	padding: 2%;
}

/***** Homepage Accordian Menu ****/
/*font styling for accorting header texts*/
#headingOne a,#headingTwo a, #headingThree a{
	letter-spacing: 2.5px;
	font-size: 1.5em;
}
/*link buttons in accordion*/
.accBtn{
	margin-bottom: 15px; 
}
/*boxes that hold each aside article*/
.asideBox{
	margin-bottom: 130px;
}
/*web design panel, first panel*/
#headingOne{
	background: #72918B;
	color: #FEFFFF;
}
/*blockquote in acc panel 1*/
#accBlock1{
	margin-top: 70px;
}
/*marketing panel, second panel*/
#headingTwo{
	background: #FF6138;
	color: #FEFFFF;
}
/*paragraphs under video in aside*/
.asideP{
	margin-top: -60px;
}
/*graphic design panel, third panel*/
#headingThree{
	background: #9FB03E;
	color: #FEFFFF;
}
/*blockquote in acc panel 3*/
#accBlock3{
	margin-top: 70px;
}
/*blockquote in acc panel 3*/
#accBlock3 img{
	margin-bottom: 70px;
}







