/*adds full 100% width to images*/
.fullsize{
	width:100%;
}
/*header*/
header{
	margin-bottom: 70px;
}
/*aside containers*/
aside div{
	margin: 30px 0 70px 0;
}
/*main article above the fold*/
.mainArt{
	margin-bottom: 70px;
}
/*main Img*/
.mainImg{
	margin-top: 30px;
}